.dashbored-spinner {
    animation: rotate 2s linear infinite;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
}

.dashbored-spinner .path {
    stroke: hsl(210, 100%, 100%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
.dashbored-widget-title {
    display: flex;
    align-items: center;
}
.dashbored-title-btns {
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.dashbored-title-btn-outer {
    position: relative;
    display: flex;
    align-items: center;
    width: 32px;
}
.dashbored-title-btn {
    position: absolute;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    left: 0;
    right: 0;
}
.dashbored-title-btn i {
    color: #00decc;
}
.dashbored-title-btn:hover i {
    color: #ff9640;
}

.dashbored-bg {
    position: absolute; 
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
    margin: -10px;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
}
.dashbored-bg .db-bg-element {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.db-bg-mask {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .5;
}

.dashbored-error-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Weather */
.dashbored-weather-widget {
    min-height: 300px;
    padding: 0 12px;
    color: #fff;
    position: relative;
    z-index: 2;
    pointer-events: none;
}
.dashbored-weather-mask {
    visibility: hidden;
    position: absolute;
    margin: -10px;
    height: 100%;
    width: 100%;
    z-index: 4 !important;
    background: rgb(255,255,255);
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(123,217,238,1) 22%, rgba(0,181,222,1) 70%);
}
.dashbored-weather-widget .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashbored-weather-widget .region {
    text-align: right;
    height: 80px;
    text-transform: uppercase;
}
.dashbored-weather-widget .region .main {
    font-size: 1.6em;
    font-weight: 500;
}
.dashbored-weather-widget .region .row {
    display: flex;
    justify-content: end;
    gap: 6px;
}   
.dashbored-weather-widget .current {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashbored-weather-widget .current .current-row {
    display: flex;
    justify-content: center;
    font-size: 4em;
}
.dashbored-weather-widget .current .icon {
    padding-right: 10px;
}
.dashbored-weather-widget .current .comment {
    margin-top: -6px;
    font-size: 1.5em;
}
.dashbored-weather-widget .current .extras-row {
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 11px;
    font-weight: 300;
    margin-top: 6px;
}
.dashbored-weather-widget .outlook {
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.dashbored-weather-widget .outlook .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 6px;
}
.dashbored-weather-widget .outlook .temp {
    font-weight: 700;
    font-size: 14px;
}
.dashbored-weather-widget .outlook img {
    height: 20px;
}

/* Quotes */
.dashbored-quotes-widget {
    height: 300px;
    padding: 0 32px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    z-index: 2; 
    pointer-events: none;
}
.dashbored-quotes-mask {
    visibility: hidden;
    position: absolute;
    margin: -10px;
    height: 100%;
    width: 100%;
    z-index: 3 !important;
    background: rgb(255,149,121);
    background: linear-gradient(120deg, rgba(255,149,121,1) 0%, rgba(255,128,95,1) 34%, rgba(255,85,41,1) 85%);
}
.dashbored-quotes-widget .quote {
    text-align: center;
    font-size: 2em;
}
.dashbored-quotes-widget .author {
    margin-top: 36px;
    font-size: .8em;
}

/* News Feed */
.dashbored-newsfeed-widget {
    height: 300px;
}
.dashbored-newsfeed-item {
    padding: 16px 0;
}
.dashbored-newsfeed-title {
    color: #234368;
    font-size: 18px;
    margin-bottom: 0;
}
.dashbored-newsfeed-link {
    text-decoration: none;
}
.dashbored-newsfeed-author-row {
    display:flex;
    padding: 6px 0;
    gap: 12px;
    border-bottom: 1px solid #f1f1f1;
}
.dashbored-newsfeed-description,
.dashbored-newsfeed-content {
    margin-top: 12px;
}
.dashbored-newsfeed-mask {
    visibility: hidden;
    position: absolute;
    margin: -10px;
    height: 100%;
    width: 100%;
    z-index: 4 !important;
    background: rgb(255,176,112);
    background: linear-gradient(120deg, rgba(255,176,112,1) 0%, rgba(255,150,64,1) 61%);
}

/* SiteDash */
.dashbored-sitedash-widget {
    height: 300px;
    color: #fff;
    position: relative;
}
.dashbored-sitedash-widget * {
    box-sizing: border-box;
}
.dashbored-sitedash-widget .sd-alert {
    color: #DC2626;
}
.dashbored-sitedash-widget .sd-info {
    color: #ffe168;
}
.dashbored-sitedash-mask {
    visibility: hidden;
    position: absolute;
    margin: -10px;
    height: 100%;
    width: 100%;
    z-index: 4 !important;
    background: rgb(63,91,123);
    background: linear-gradient(120deg, rgba(90,114,142,1) 0%, rgba(63,91,123,1) 18%, rgba(35,67,104,1) 54%);
}
.dashbored-sitedash-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px 50px 16px;
}
.dashbored-sitedash-top,
.dashbored-sitedash-middle,
.dashbored-sitedash-bottom {
    width: 100%;
    max-width: 500px;
    padding: 0;
}
.dashbored-sitedash-panel .section-title {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    color: #fff;
    margin: 5px 0;
    border-left: 2px solid #fff;
    padding-left: 5px;
    font-weight: bold;
}
.dashbored-sitedash-audit {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 15px;
}
.dashbored-sitedash-audit > div {
    text-align: center;
}
.dashbored-sitedash-audit .audit-metric {
    position: relative;
    height: 40px;
}
.dashbored-sitedash-audit .audit-score {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.dashbored-sitedash-audit svg {
    height: 40px;
}
.dashbored-sitedash-audit .audit-metric-name {
    margin-top: 5px;
    font-size: 9px;
}
.dashbored-sitedash-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    font-size: 10px;
    margin-top: 20px;
}
.dashbored-sitedash-middle > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.dashbored-sitedash-middle > div > div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 6px;
    gap:3px;
}
.dashbored-sitedash-middle .dots {
    flex: 1;
    border-bottom: 1px dotted #fff;
    position: relative;
    bottom: 3px;
    opacity: .7;
}
.dashbored-sitedash-middle > div span {
    font-size: 9px;
}
.dashbored-sitedash-middle .sd-value {
    font-weight: 500;
}

.dashbored-sitedash-footer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    margin: 0;
    background-color: #234368;
    z-index: 2;
    color: #fff;
    height: 34px;
    border-radius: 0 0 3px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255/.2);
}
.dashbored-sitedash-footer .open-sitedash-btn {
    background-color: #3f5b7b;
    color:#fff;
    border: 0;
    box-shadow: 0 1px 0 0 rgb(0 0 0/.2);
    border-radius: 1px;
    font-size: 11px;
    padding: 3px 8px;
    cursor: pointer;
}
.dashbored-sitedash-footer .sitedash-site-url {
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 11px;
}

/* SiteDash Monitor */
.dashbored-sitedash-monitor-widget {
    height: 300px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 3;
}
.dashbored-sitedash-monitor-widget * {
    box-sizing: border-box;
}
.dashbored-sitedash-mask {
    visibility: hidden;
    position: absolute;
    margin: -10px;
    height: 100%;
    width: 100%;
    z-index: 4 !important;
    background: rgb(63,91,123);
    background: linear-gradient(120deg, rgba(90,114,142,1) 0%, rgba(63,91,123,1) 18%, rgba(35,67,104,1) 54%);
}

.dashbored-sitedash-monitor-chart {
    width: 100%;
    height: 100%;
}

/* Window */
.db-bg-type {
    background: #fbfbfb;
    padding: 16px;
    border-radius: 3px;
}
.db-bg-type .x-form-item.x-hide-label {
    padding-top: 0 !important;
}
.db-settings-bg {
    position: relative;
    background: rgb(255,255,255);
    border-radius: 3px;
    height: 300px;
    color: #fff;
    font-size: 48px;
    overflow: hidden;
}
.db-settings-bg-weather {
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(123,217,238,1) 22%, rgba(0,181,222,1) 70%);
}
.db-settings-bg-quotes {
    background: linear-gradient(120deg, rgba(255,149,121,1) 0%, rgba(255,128,95,1) 34%, rgba(255,85,41,1) 85%);
}
.db-settings-bg .db-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(255,255,255,0.3);
    transition: 0.3s opacity;
    cursor: pointer;
    z-index: 10;
}
.db-settings-bg:hover .db-overlay {
    opacity: 1;
}
.db-settings-bg .db-overlay span {
    background: rgba(0,181,222,1);
    color: #fff;
    border: 0;
    font-size: 26px;
    border-radius: 3px;
    padding: 16px;
}
.db-settings-bg-mask {
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: .5;
}
.db-settings-bg .db-bg-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.db-settings-bg .db-bg-label {
    position: relative;
    z-index: 5;
}
.db-settings-bg .db-bg-img,
.db-settings-bg .db-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}